@import 'normalize.css';

html {
  height: 100%;
}

body {
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body > #root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom_drawer {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px 16px 0px 0px;
}
